#header {
  background: #C4E0FC;
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.menu-toggle {
  display: none;
}

.logo img {
  height: 60px;
  display: block;
   background: 	#C4E0FC;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  
}

.nav-links li {
  margin: 0;
}

.nav-links a {
  color: #172c2e;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  
}

.nav-links a:hover {
  color: #f8fcff;
}

.menu-btn {
  display: none;
}

  
@media (min-width: 769px) {
  .nav-links {
    display: flex !important;
    position: static;
    flex-direction: row;
    background: none;
    padding: 0;
    width: auto;
  }
  .menu-btn, .menu-toggle {
    display: none;
  }
}

@media only screen and (max-width: 768px) {

  #header {
    padding: 30px 20px;
  }
  .logo img {
    height: 50px;
  }
  
  .menu-btn {
    display: block;
    font-size: 24px;
    cursor: pointer;
    color: #172c2e;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #f8fcff;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links li {
    padding: 10px 0;
    background-color: #f8fcff;
  }

  .nav-links li:hover {
    background-color: #C4E0FC; 
  }

  .menu-toggle:checked ~ .nav-links {
    display: flex; 
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px; 
  }
}


/* Footer styles */
#footer {
  background-color: #C4E0FC;
  text-align: center;
}
.footer-content {

  margin: 0 auto;
  padding: 10px;
}

.footer-content p {
  text-align: center;
  font-size: 16px;
}
